@page "/fetchdata2"
@page "/fetchdata2/{TestParamValue}"
@inherits BaseComponent

@using BlazorSimpleInjectorMediator.Data
@using SimpleInjector;

<PageTitle>Weather forecast 2</PageTitle>

<h1>Weather forecast 2</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button type="button" @onclick="Test">Test</button>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Dependency]
    public WeatherForecastService ForecastService { get; set; }

    [Dependency]
    public IScopedCaller ScopedCaller { get; set; }

    [Dependency]
    public Container Container { get; set; }

    [Dependency]
    NavigationManagerWrapper Navigation { get; set; }
    private WeatherForecast[]? forecasts;

    [Parameter]
    public string TestParamValue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }

    private void Test()
    {
        var cscope = ScopedLifestyle.Scoped.GetCurrentScope(Container);
        var value = "TEST";
        Navigation.NavigationManager.NavigateTo($"/fetchdata/{value}");
    }

    protected override async Task OnParametersSetAsync()
    {
        var cscope = ScopedLifestyle.Scoped.GetCurrentScope(Container);
        await base.OnParametersSetAsync();
        cscope = ScopedLifestyle.Scoped.GetCurrentScope(Container);
    }
}
